<!doctype html>
<html>
<head>
<title>Marked as not read</title>
</head>
<body>
<div class=page>
    <br>
    <center>
        <p>
            Article<br>
            <i>"{{ title }}"</i><br>
            successfully <b>marked as not read</b>.<br><br>
            To mark is as read, click:<br>
            <b><a href="{{ read_link }}">HERE!</a></b><br>
            (remember not to hit <b>back [<]</b> button afterwards, because it will mark the article as not read again)
        </p>
    </center>
</div>
</body>
</html>
